#recipes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 12px;
  grid-template-areas: "All-Recipes Favorite-Recipes";
}

#all-recipes {
  grid-area: All-Recipes;
}

#favorite-recipes {
  grid-area: Favorite-Recipes;
}
